<!doctype html>
<html ng-app="app1">
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<script src="angular.js"></script>
<script>
var app=angular.module('app1', []);

app.controller('test', function ($scope){
	//普通JS代码
	$scope.data=[
		{name: '毛衣', price: 16.9, count: 2},
		{name: '裤子', price: 99, count: 1},
		{name: '帽子', price: 12, count: 3}
	];
	
	$scope.alert=function (str)
	{
		alert(str);
	};
	
	$scope.sum=function ()
	{
		var sum=0;
		
		for(var i=0;i<$scope.data.length;i++)
		{
			sum+=$scope.data[i].price*$scope.data[i].count;
		}
		
		return sum;
	};
});
</script>
</head>

<body ng-controller="test">
<input type="button" value="aaa" ng-click="alert(data.length);" />
<ul>
	<li ng-repeat="item in data">
    	<h2>名称：{{item.name}}</h2>
        <p>价格：{{item.price|currency}} <input type="text" ng-model="item.count" /></p>
        <p>总价：{{item.price*item.count|currency}}</p>
    </li>
</ul>
总价：{{sum()|currency}}
</body>
</html>
